<!-- Contact -->
<article class="container box style2">
	<header>
		<h2>Let's chat!</h2>
  <p>
    Email me or find me on these platforms:
  </p>
	</header>
	<!-- <form method="post" action="#">
		<div class="row 50%">
			<div class="6u 12u$(mobile)"><input type="text" class="text" name="name" placeholder="Name" /></div>
			<div class="6u$ 12u$(mobile)"><input type="text" class="text" name="email" placeholder="Email" /></div>
			<div class="12u$">
				<textarea name="message" placeholder="Message"></textarea>
			</div>
			<div class="12u$">
				<ul class="actions">
					<li><input type="submit" value="Send Message" /></li>
				</ul>
			</div>
		</div>
	</form> -->
</article>
