<!-- Banner -->
<section id="banner">
	<header>
		<h2>Hi! The name's Alice!</h2>
	</header>
		<p>I'm a Canadian (eh?) engineer developing the Android platform at <span class="icon fa-pinterest-p"></span>interest. <br/> I help build frameworks ontop of our application to ensure it is performant and well maintained. <br/>I also have a passion in functional user experiences.</p> <br/>
		<p>I am constantly pursuing new interests and hobbies - my current favourite is travelling around the world and dancing! <br/>
		<br/>
		<p> Interested in chatting about dance/art/UX/android? Shoot me an email! :) </p>
</section>

<!-- Feature 1 -->
<article id="first" class="container box style1 right gallery swingdance">
	<a href="images/swing_dance.jpg" class="image fit"><img src="images/swing_dance.jpg" alt="" title="Swing dancing at learning night"/></a>
	<div class="inner">
		<header>
			<h2>Dancing around the world</h2>
		</header>
		<p>I've swing danced in 8 different countries and counting! I also <a href="https://learningnight.com/2017/02/15/swing-dancing/">talked about swing dance at learning night</a>.</p>
	</div>
</article>

<!-- Photography Portfolio -->
<article class="container box style2">
	<header>
		<h2>Constant Traveller</h2>
		<p>I love exploring different countries and integrating myself with the culture there!<br />
			I'm a hobbiest photographer and these are some of the photographs I've taken during my travels.
		</p>
	</header>
	<div class="inner gallery photography">
		<div class="row 0%">
			<div class="3u 12u(mobile)"><a href="images/photography/01.jpg" class="image fit"><img src="images/photography/01.jpg" alt="" title="Riding the world's longest cable car, Zhangjiajie, China" /></a></div>
			<div class="3u 12u(mobile)"><a href="images/photography/02.jpg" class="image fit"><img src="images/photography/02.jpg" alt="" title="Shanghai Skyline, China" /></a></div>
			<div class="3u 12u(mobile)"><a href="images/photography/03.jpg" class="image fit"><img src="images/photography/03.jpg" alt="" title="Dolomites, Italy" /></a></div>
			<div class="3u 12u(mobile)"><a href="images/photography/04.jpg" class="image fit"><img src="images/photography/04.jpg" alt="" title="Death Valley, CA, United States" /></a></div>
		</div>
		<div class="row 0%">
			<div class="3u 12u(mobile)"><a href="images/photography/05.jpg" class="image fit"><img src="images/photography/05.jpg" alt="" title="Shipwreck near Reyes, CA, United States" /></a></div>
			<div class="3u 12u(mobile)"><a href="images/photography/06.jpg" class="image fit"><img src="images/photography/06.jpg" alt="" title="Rain in Jiufen, Taiwan" /></a></div>
			<div class="3u 12u(mobile)"><a href="images/photography/07.jpg" class="image fit"><img src="images/photography/07.jpg" alt="" title="Camping in Lassen Volcanic National Park, CA, United States" /></a></div>
			<div class="3u 12u(mobile)"><a href="images/photography/08.jpg" class="image fit"><img src="images/photography/08.jpg" alt="" title="Monkeys and her babe, ZhangJiaJie, China" /></a></div>
		</div>
	</div>
</article>

<!-- Art Portfolio -->
<article class="container box style2 artworks">
	<header>
		<h2>Sometimes Artsy</h2>
		<p>I also like to draw and paint from time to time. Here are some of the art works I've made over the past few years.
		</p>
	</header>
	<div class="inner gallery">
		<div class="row 0%">
			<div class="3u 12u(mobile)"><a href="images/artworks/01.jpg" class="image fit"><img src="images/artworks/01.jpg" alt="" title="Painting of my dog, Molly" /></a></div>
			<div class="3u 12u(mobile)"><a href="images/artworks/02.jpg" class="image fit"><img src="images/artworks/02.jpg" alt="" title="Original illustration" /></a></div>
			<div class="3u 12u(mobile)"><a href="images/artworks/03.jpg" class="image fit"><img src="images/artworks/03.jpg" alt="" title="Original acrylic painting" /></a></div>
			<div class="3u 12u(mobile)"><a href="images/artworks/04.jpg" class="image fit"><img src="images/artworks/04.jpg" alt="" title="Oil pastel"/></a></div>
		</div>
	</div>
</article>
